.send {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  gap: 24px;
  max-width: 450px;
  width: 100%;

  textarea {
    height: 8rem;
  }

  button,
  textarea {
    border-radius: 4px;
  }

  button {
    border: 1px solid black;
  }
}
